.newsletter{
    width: 98%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
    gap: 30px;
}
.newsletter h1{
    color: #454545;
    font-size: 30px;
    font-weight: 600;
    margin-top: 80px;
}
.newsletter p{
    color: #454545;
    font-size: 15px;
}
.newsletter div{
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    width: 730px;
    height: 70px;
    border-radius: 80px;
    border: 1px solid #e0b2b2;
}
.newsletter input{
    width: 500px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: black;
    font-family: Poppins;
    font-size: 16px;
}
.newsletter div button{
    width: 210px;
    height: 70px;
    border-radius: 80px;
    background: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
@media(max-width: 800px){
    .newsletter div{
        width: 100%;
        height: 70px;
    }
}
@media(max-width: 500px){
    .newsletter div{
        width: 100%;
        height: 70px;
    }
    .newsletter h1{
        font-size: 20px;
    }
    .newsletter div button{
        width: 100%;
        height: 50px;
        border-radius: 80px;
        background: black;
        color: white;
        font-size: 16px;
        cursor: pointer;
    }
}